*.iml
.gradle/
.idea/
.android-sdk/
.build-jdk/
.third_party/
local.properties
**/build/
.cxx/
app/.cxx/
app/src/main/cpp/generated/
app/src/main/jniLibs/arm64-v8a/libmihomo.so
*.apk
*.aab
*.jks
*.keystore
signing.properties
captures/
.DS_Store
