*.iml
.gradle/
.idea/
.android-sdk/
.build-jdk/
.third_party/
local.properties
**/build/
app/src/main/jniLibs/arm64-v8a/libmihomo.so
app/src/main/jniLibs/arm64-v8a/libhev-socks5-tunnel.so
*.apk
*.aab
captures/
.DS_Store
